.idea/
*.egg*
__pycache__
.envrc
.pytest_cache
.DS_Store
celerybeat-schedule.db
celerybeat.pid
*.log
linc_cv/data/*
linc-cv/tests/supervisord_local/*
/terraform/.terraform/
/terraform/.terraform.lock.hcl
