numpy==1.23.5
matplotlib==3.5.3
scikit-learn==1.0.2
scipy==1.10.0
scikit-image==0.21.0
requests==2.21.0
keras==2.15.0
flask==2.2.5
flask_restful==0.3.10
h5py==3.8.0
Pillow==9.5.0
imgaug==0.2.7
toolz==0.9.0
pandas==1.5.3
pytest==6.2.5
torch==2.0.1
torchvision==0.15.2
pretrainedmodels==0.7.4
tqdm==4.28.1
joblib==1.0.1
numba==0.56.4
tensorflow==2.15.0
opencv-python-headless==3.4.17.61
opencv-contrib-python-headless==3.4.17.61
flower==1.0.0
celery[redis]==5.2.7
