scipy
matplotlib
scikit-image
numpy
requests
keras
celery[redis]
scikit-learn
flask
flask_restful
h5py
Pillow
imgaug
toolz
flower
pandas
pytest
https://download.pytorch.org/whl/cu100/torch-1.0.0-cp37-cp37m-linux_x86_64.whl
torchvision
pretrainedmodels
tqdm
joblib