scipy
matplotlib
scikit-image
numpy
requests
keras==2.2.4
celery[redis]
scikit-learn
flask
flask_restful
h5py
Pillow
imgaug
toolz
flower
pandas
pytest
torch
torchvision
pretrainedmodels
tqdm
joblib
numba
tensorflow==1.12.0